div(ng-if="editing")
  button.button(ng-click="editReference()") Save
  button.button(ng-click="stopEditing()") Cancel
div(ng-if="!editing")
  button.button(ng-click="startEditing()") Edit

div.error No Error

form.add-new#add-new
  table.u-full-width
    thead
      tr
        th Name
        th Type
        th Fields
        th Tags
    tbody
      tr
        td
          span(ng-if="!editing") {{reference.name}}
          input.u-full-width(ng-if="editing" type="text" name="name" placeholder="Name" value="{{reference.name}}")
        td
          span(ng-if="!editing") {{reference.type | capitalize}}
          select.u-full-width(ng-if="editing" ng-model="selectedType" name="type"
                              ng-options="type.name | capitalize for type in types"
                              value="{{reference.type}}")
        td
          ul.fields(ng-if="!editing")
            li(ng-repeat="(key, field) in reference.fields")
              strong {{key | capitalize}}
              span &nbsp;{{field}}
          ul.fields.input-fields(ng-if="editing")
            li(ng-repeat="key in selectedType.required | orderBy:key")
              input.u-full-width(type="text" name="field_{{key}}" placeholder="{{key | capitalize}}" value="{{reference.fields[key]}}")
            li(ng-repeat="key in selectedType.optional | orderBy:key")
              input.u-full-width(type="text" name="field_{{key}}" placeholder="(Optional) {{key | capitalize}}" value="{{reference.fields[key]}}")
        td
          span(ng-if="!editing") {{reference.tags | unlist}}
          input.u-full-width(ng-if="editing" type="text" name="tags" placeholder="Tags" value="{{reference.tags|unlist}}")
