button.button.button-primary(ng-click="editReference()") Save
button.button.button-danger(ng-click="stopEditing()") Cancel

form.add-new#add-new
  .row
    .error No Error
  .row
    .four.columns
      label(for="name") Name
      input.u-full-width(type="text" name="name" id="name" value="{{reference.name}}")
    .four.columns
      label(for="type") Type
      select.u-full-width(ng-model="selectedType" id="type" name="type" value="{{reference.type}}"
        ng-options="type.name | capitalize for type in types")
    .four.columns
      label(for="tags") Tags
      input.u-full-width(type="text" name="tags" id="tags" value="{{reference.tags | unlist}}")
  .row
    ul.fields.input-fields
      li(ng-repeat="key in selectedType.required | orderBy:key")
        .three.columns
          label.field-label(for="field_{{key}}") {{key | capitalize}}
        .nine.columns
          input.u-full-width(type="text" value="{{reference.fields[key]}}" id="field_{{key}}" name="field_{{key}}" ng-keyup="getSuggestion()")
      li(ng-repeat="key in selectedType.optional | orderBy:key")
        .three.columns
          label.field-label.optional(for="field_{{key}}") {{key | capitalize}}
        .nine.columns
          input.u-full-width(type="text" value="{{reference.fields[key]}}" id="field_{{key}}" name="field_{{key}}")
